
.card-container {
  margin: 36px 0;
  .single-card {
    margin: 0 auto;
    width: calc(100% - 100px);
    .card-btn {
      margin-left: 4px;
      @media screen and(max-width: 600px) {
        margin-top: 4px;
      }
    }
  }
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50px);
  }
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-container .vertical-spacing {
  @media screen and(max-width: 335px) {
    margin-top: 16px;
  }
}