<section
  fxLayout="row wrap"
  fxLayout.lt-sm="column wrap"
  fxLayoutAlign="center center"
>
  <div
    fxFlex="50%"
    *ngFor="let painting of paintings | slice: 0:6"
    class="card-container"
  >
    <mat-card
      class="single-card"
      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"
    >
      <img
        mat-card-image
        [src]="painting.imageUrl"
        [alt]="painting.imageAltTxt"
      />
      <mat-card-actions>
        <button mat-button>SHARE</button>
        <button mat-button (click)="openDetails(painting)" style="margin: 0">
          View Details
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
