<section
  fxLayout="row wrap"
  fxLayout.lt-md="column wrap"
  fxLayoutAlign="center center"
>
  <div
    fxFlex="50%"
    *ngFor="let painting of paintings | slice: 0:6"
    class="card-container"
  >
    <mat-card
      class="single-card"
      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)"
    >
      <img
        mat-card-image
        [src]="painting.imageUrl"
        [alt]="painting.imageAltTxt"
      />
      <mat-card-actions class="btn-container">
        <button class="btn" (click)="openDetails(painting)" type="button">
          View Details
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
