
.card-container {
  margin: 36px 0;
  .single-card {
    margin: 0 auto;
    width: calc(100% - 100px);
    .card-btn {
      margin-left: 4px;
      @media screen and(max-width: 600px) {
        margin-top: 4px;
      }
    }
  }
}

