<mat-toolbar class="header-container">
  <div fxHide.gt-xs fxFlex fxLayout fxLayoutAlign="end">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
  </div>
  <div fxHide.xs>
    <a routerLink="/home" class="home-link">Home</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs class="nav-container">
    <ul fxLayout class="navbar-menu">
      <li class="nav-option">
        <a
          fxFlexFill
          fxLayoutAlign="center center"
          routerLink="/gallery/paintings"
          routerLinkActive="active"
          class="nav-link"
          >Gallery</a
        >
      </li>
      <li class="nav-option">
        <a
          fxFlexFill
          fxLayoutAlign="center center"
          routerLink="/about/contact-me"
          routerLinkActive="active"
          class="nav-link"
          >Contact me</a
        >
      </li>
      <li class="nav-option">
        <a
          fxFlexFill
          fxLayoutAlign="center center"
          routerLink="/about/my-story"
          routerLinkActive="active"
          class="nav-link"
          >About me</a
        >
      </li>
      <li *ngIf="isLogged()" class="nav-option">
        <a
          fxFlexFill
          fxLayoutAlign="center center"
          routerLinkActive="active"
          class="nav-link"
          (click)="logOut()"
          >Log Out</a
        >
      </li>
    </ul>
  </div>
</mat-toolbar>
