$base-light-max: #ffffff;
$base-dark-max: #000000;

$base-dark-grey: #252525;
$base-light-grey: #383340;

$base-dark-error: #ff0000;
$base-dark-success: #00ff04;
$base-dark-warning: #a06300;

$base-light-loader-blue: #19a68c;
$base-light-loader-orange: #f63d3a;
$base-light-loader-yellow: #fda543;
$base-dark-loader-green: #193b48