<div style="margin-bottom: 25px">
  <app-toast *ngIf="message" [message]="message" [type]="type"></app-toast>
  <app-loader></app-loader>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" position="end">
      <app-side-nav-list (closeSideNav)="sidenav.close()"></app-side-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (toggler)="sidenav.toggle()"></app-header>
      <main class="main-cointainer">
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
