@use "src/styles/colors" as colors;

.modal-container {
  height: 100%;
  .painting-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  
  .description-container {
    width: 90%;
    padding: 16px;
    .painting-info-txt {
      font-weight: 700;
    }
    @media screen and(max-width: 600px) {
      margin-left: 0;
    }
  }
}

div {
  position: relative;
  .painting {
    max-width: 400px;
    height: auto;
    display: block;
  }
  
  .enlarge-symbol {
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 30px;
    height: 30px;
  }
}
