.admin-msg {
  font-weight: 500;
  font-size: 20px;
  margin: 10px;
}
.add-new {
  margin: 26px;
}

.gallery-container {
  margin: 26px;
  .layout-container {
    margin: 26px auto;
    padding: 0 8px;
    div {
      .painting-container {
        max-width: 360px;
        height: auto;
        div {
          position: relative;
          .painting {
            cursor: pointer;
            width: 100%;
            height: 100%;
            transition: 0.3s ease-in-out;
            filter: brightness(80%);
            &:hover {
              filter: brightness(100%);
              transform: scale(1.03);
            }
          }
          .painting-name {
            font-weight: 600;
          } 
        }
      }
    }
  }
}  