<app-title></app-title>
<section>
  <div class="my-story-container">
    <h1>My Story</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dicta
      mollitia labore, dolorum unde saepe quod sapiente quas consequatur qui,
      obcaecati quibusdam iure amet adipisci commodi non ipsum, neque culpa!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dicta
      mollitia labore, dolorum unde saepe quod sapiente quas consequatur qui,
      obcaecati quibusdam iure amet adipisci commodi non ipsum, neque culpa!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dicta
      mollitia labore, dolorum unde saepe quod sapiente quas consequatur qui,
      obcaecati quibusdam iure amet adipisci commodi non ipsum, neque culpa!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dicta
      mollitia labore, dolorum unde saepe quod sapiente quas consequatur qui,
      obcaecati quibusdam iure amet adipisci commodi non ipsum, neque culpa!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dicta
      mollitia labore, dolorum unde saepe quod sapiente quas consequatur qui,
      obcaecati quibusdam iure amet adipisci commodi non ipsum, neque culpa!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dicta
      mollitia labore, dolorum unde saepe quod sapiente quas consequatur qui,
      obcaecati quibusdam iure amet adipisci commodi non ipsum, neque culpa!
    </p>
    <p class="author-name">Author Name</p>
  </div>
</section>
