<section class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide"
      [src]="slide.imageUrl"
      class="slide"
      @carouselAnimation
      crossorigin
    />
  </ng-container>
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
  <h1 class="top-text">This is Ludmila Ivanova</h1>
  <p class="top-text-small">personal gallery</p>
</section>
