.single-image-container {
  margin: 36px auto;
  min-height: 90vh;
  .painting-container, .description-container {
    width: 90%;
    height: auto;
    margin: 0 16px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .description-container {
    .painting-text {
      font-weight: 500;
    }
  }
}