/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import '~@angular/material/theming';


html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
body { 
  margin: 0; 

}

$custom-typography: mat-typography-config(
  $font-family: 'Raleway'
);

@include mat-core($custom-typography);

