<section class="contact-me-container">
  <app-title></app-title>
  <div class="form-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="input-container">
        <label for="name" class="input-lbl">Your name</label>
        <input
          id="name"
          type="text"
          [ngClass]="isInvalid('name') ? 'error-border' : 'form-option'"
          formControlName="name"
          placeholder="Your name"
        />
        <div *ngIf="isInvalid('name')" class="error-message">
          <small *ngIf="contactForm.get('name')?.errors?.['required']"
            >Name is required!</small
          >
          <small *ngIf="contactForm.get('name')?.errors?.['maxlength']">
            Name cannot be longer than 56 characters!
          </small>
        </div>
      </div>
      <div class="input-container">
        <label for="paintingId" class="input-lbl">Painting Ref. No.</label>
        <input
          id="paintingId"
          type="text"
          [ngClass]="isInvalid('paintingId') ? 'error-border' : 'form-option'"
          formControlName="paintingId"
          placeholder="Ref. No."
        />
        <div *ngIf="isInvalid('paintingId')" class="error-message">
          <small *ngIf="contactForm.get('paintingId')?.errors?.['required']"
            >Painting Ref. No. is required!</small
          >
        </div>
      </div>
      <div class="input-container">
        <label for="email" class="input-lbl">Email we could reach you on</label>
        <input
          id="email"
          type="text"
          [ngClass]="isInvalid('email') ? 'error-border' : 'form-option'"
          formControlName="email"
          placeholder="Your Email"
        />
        <div *ngIf="isInvalid('email')" class="error-message">
          <small *ngIf="contactForm.get('email')?.errors?.['required']"
            >Email is required!</small
          >
          <small *ngIf="contactForm.get('email')?.errors?.['pattern']"
            >Provide a valid email address!</small
          >
        </div>
      </div>
      <div class="input-container">
        <label for="message" class="input-lbl">Your message</label>
        <textarea
          id="message"
          type="text"
          class="form-option txt-area"
          [ngClass]="
            isInvalid('message')
              ? 'error-border txt-area'
              : 'form-option txt-area'
          "
          formControlName="message"
          placeholder="Your Message"
        ></textarea>
        <div *ngIf="isInvalid('message')" class="error-message">
          <small *ngIf="contactForm.get('message')?.errors?.['required']"
            >Message is required!</small
          >
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="btn-container">
        <button
          type="submit"
          [ngClass]="contactForm.invalid ? 'btn-disabled' : 'btn'"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
